{
  "root": true,
  "parserOptions": {
    "ecmaVersion": 2022,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": [
    "plugin:jest/recommended",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime"
  ],
  "env": {
    "jest": true,
    "es6": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
